In [191]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [232]:
df = pd.read_csv("train.csv" , encoding = 'big5')

trouble_df = df.iloc[:,0:3]
good_df = df.iloc[:,3:]

trouble_df.columns = ['date','locations','item']
frames = [trouble_df,good_df]
train_df = pd.concat(frames,axis=1)

train_df['locations'] ='Fengyuan'

train_df.head()

,date,locations,item,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,Fengyuan,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,Fengyuan,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,Fengyuan,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,2014/1/1,Fengyuan,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,2014/1/1,Fengyuan,NO,0.9,0.6,0.5,1.7,1.8,1.5,1.9,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5

In [233]:
datalist = []

idx_l = []
idx_l.extend(range(0,18))
for i in range(0,train_df.shape[0],18):
    tmp = train_df.iloc[i:i+18,3:]
    tmp.index = idx_l
    datalist.append(tmp)
    
data_df_T =  pd.concat(datalist,axis=1)
data_df_T.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,14,14,14,13,12,12,12,12,15,17,...,19,18,17,16,15,14,13,13,13,13
1,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.7,1.7,1.7,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,0.51,0.41,0.39,0.37,0.35,0.3,0.37,0.47,0.78,0.74,...,0.24,0.27,0.31,0.5,0.55,0.48,0.47,0.51,0.57,0.56
3,0.2,0.15,0.13,0.12,0.11,0.06,0.1,0.13,0.26,0.23,...,0.08,0.11,0.23,0.3,0.2,0.15,0.16,0.16,0.19,0.19
4,0.9,0.6,0.5,1.7,1.8,1.5,1.9,2.2,6.6,7.9,...,1.3,1.3,0.9,1.1,1.3,1,1.5,1.5,1.1,1.3

In [235]:
data_df = data_df_T.T
data_df.head()

col_l = ['AMB_TEMP','CH4','CO','NMHC','NO','NO2','NOx','O3','PM10','PM2.5',
          'RAINFALL','RH','SO2','HC','WD_HR','WIND_DIREC','WIND_SPEED','WS_HR']

idx_l = []
idx_l.extend(range(0,5760))
data_df.index = idx_l
data_df.columns = col_l

data_df.replace({'NR':0}, inplace = True)
data_df.head()

,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,O3,PM10,PM2.5,RAINFALL,RH,SO2,HC,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
0,14,1.8,0.51,0.2,0.9,16,17,16,56,26,0,77,1.8,2,37,35,1.4,0.5
1,14,1.8,0.41,0.15,0.6,9.2,9.8,30,50,39,0,68,2,2,80,79,1.8,0.9
2,14,1.8,0.39,0.13,0.5,8.2,8.7,27,48,36,0,67,1.7,2,57,2.4,1,0.6
3,13,1.8,0.37,0.12,1.7,6.9,8.6,23,35,35,0,74,1.6,1.9,76,55,0.6,0.3
4,12,1.8,0.35,0.11,1.8,6.8,8.5,24,25,31,0,72,1.9,1.9,110,94,1.7,0.6

In [319]:
from sklearn.model_selection  import train_test_split

features = ['AMB_TEMP','CH4','CO','NMHC','NO','NO2','NOx','O3','PM10',
          'RAINFALL','RH','SO2','HC','WD_HR','WIND_DIREC','WIND_SPEED','WS_HR']
target = ['PM2.5']

data = data_df.as_matrix()
data = data.astype('float')
train ,test = train_test_split(data,test_size=0.2)
train_y_list = []
train_x_list = []
test_y_list = []
test_x_list = []

for i in range(train.shape[0]-9) :
    train_y_list.append(train[i+9,9])
    train_x_list.append(train[i:i+9,9])

for i in range(test.shape[0]-9) :
    test_y_list.append(test[i+9,9])
    test_x_list.append(test[i:i+9,9])
print (train_x_list[0])

[ 14.   5.  13.   6.  20.   3.  41.   6.   7.]

In [320]:
import random

# ydata = b + w * xdata 
b = 10 # initial b
w = [10.0]*9 # initial w
lr = 1 # learning rate
iteration = 300

b_lr = 0.0
w_lr = [10.0]*9

# Store initial values for plotting.
b_history = [b]
w_history = [w[0]]

for i in range(iteration):
    #print (i)
    b_grad = 0.0
    w_grad = [0.0]*9
    for n in range(len(train_x_list)):
        W = 0
        W = np.dot(w,train_x_list[n]) 
        b_grad = b_grad  - 2.0*(train_y_list[n] - b - W)*1.0
        for j in range(9):
            w_grad[j] = w_grad[j]  - 2.0*(y_list[n] - b - W)*train_x_list[n][j]
    b_lr = b_lr + b_grad**2
    for j in range(9):
        w_lr[j] = w_lr[j] + w_grad[j]**2
            
    '''
    #stochastic gradient descent 
    n = random.randint(0,len(x_list)-1)
    W = 0
    #print (len(w) , len(x_list[n]))
    W = np.dot(w,x_list[n]) 
    b_grad = b_grad  - 2.0*(y_list[n] - b - W)*1.0
    b_lr = b_lr + b_grad**2
    for j in range(9):
        w_grad[j] = w_grad[j]  - 2.0*(y_list[n] - b - W)*x_list[n][j]
        w_lr[j] = w_lr[j] + w_grad[j]**2
    '''
    
    # Update parameters.
    b = b - lr/np.sqrt(b_lr) * b_grad 
    for j in range(9):
        w[j] = w[j] - lr/np.sqrt(w_lr[j]) * w_grad[j]
    
    # Store parameters for plotting
    b_history.append(b)
    w_history.append(w[0])
    
print (b,w)

0.16870439247 [0.10684662145024106, 0.10699383175642169, 0.10686924528492746, 0.10811729476652318, 0.10374121958953565, 0.10088273831342916, 0.097523891655539499, 0.098454696820578516, 0.097632313051780953]

In [293]:
from sklearn.metrics import mean_squared_error
from math import sqrt

def rmse(actu,pred) :
    return sqrt(mean_squared_error(actu, pred))

In [336]:
pred_list = []

for n in range(len(test_x_list)) :
    W = np.dot(w,test_x_list[n])
    pred_list.append(b+W)
    
print (rmse(test_y_list,pred_list))

3420.823699973552

In [329]:
from sklearn.ensemble import RandomForestRegressor

regr = RandomForestRegressor(max_depth=15, random_state=0)
regr.fit(train_x_list,train_y_list)
pred = regr.predict(test_x_list)

print (rmse(test_y_list,pred))

17.49131077552037

In [349]:
train ,test = train_test_split(data,test_size=0)
train_y_list = train[1:,9]
train_x_list = np.concatenate((train[:-1,0:9],train[:-1,10:]),axis=1)
test_y_list = test[1:,9]
test_x_list = np.concatenate((test[:-1,0:9],test[:-1,10:]),axis=1)
print (train_x_list.shape)

(5759, 17)

In [355]:
import random

f_num = len(train_x_list[0])
# ydata = b + w * xdata 
b = 10 # initial b
w = [0.0]*f_num # initial w
lr = 1 # learning rate
iteration = 500

b_lr = 0.0
w_lr = [10.0]*f_num

# Store initial values for plotting.
#b_history = [b]
#w_history = [w[0]]

for i in range(iteration):
    #print (i)
    b_grad = 0.0
    w_grad = [0.0]*f_num
    '''
    for n in range(len(train_x_list)):
        W = 0
        W = np.dot(w,train_x_list[n]) 
        b_grad = b_grad  - 2.0*(train_y_list[n] - b - W)*1.0
        for j in range(f_num):
            w_grad[j] = w_grad[j]  - 2.0*(train_y_list[n] - b - W)*train_x_list[n][j]
    b_lr = b_lr + b_grad**2
    for j in range(f_num):
        w_lr[j] = w_lr[j] + w_grad[j]**2
            
    '''
    #stochastic gradient descent 
    n = random.randint(0,len(train_x_list)-1)
    W = 0
    #print (len(w) , len(x_list[n]))
    W = np.dot(w,train_x_list[n]) 
    b_grad = b_grad  - 2.0*(train_y_list[n] - b - W)*1.0
    b_lr = b_lr + b_grad**2
    for j in range(f_num):
        w_grad[j] = w_grad[j]  - 2.0*(train_y_list[n] - b - W)*train_x_list[n][j]
        w_lr[j] = w_lr[j] + w_grad[j]**2
    
    # Update parameters.
    b = b - lr/np.sqrt(b_lr) * b_grad 
    for j in range(f_num):
        w[j] = w[j] - lr/np.sqrt(w_lr[j]) * w_grad[j]
    
    # Store parameters for plotting
    #b_history.append(b)
    #w_history.append(w[0])
    
print (b,w)

10.1609870766 [0.036131700031469101, 0.17170696651534328, -0.015881047112178623, -0.088597295953091793, 0.15730575226438956, -0.016453767505439754, 0.010889147899339891, 0.031421263739214812, 0.010755429297098844, -0.1295349512129163, 0.10028359540027984, 0.036382805526936728, 0.14040514627069722, 0.0029246537910656806, -0.0018650689550560148, 0.17826832990230954, 0.038940293914437242]

In [356]:
pred_list = []

for n in range(len(train_x_list)) :
    W = np.dot(w,train_x_list[n])
    pred_list.append(b+W)
    
print (rmse(train_y_list,pred_list))

16.67098158851165